body{
    background: linear-gradient(to right,#0f2027,#203a43,#2c5364);
    margin:0;
}
nav{
  background-color: #ffffff26;
 display: flex;
 justify-content: space-between;
 padding-left: 20px;
}
nav h1{
  color: orange;
}
nav a{
  color: rgb(238, 226, 226);
font-size: 25px;
text-decoration: none;
margin-right: 20px;
}
nav a:hover{
color :orange;
text-decoration: underline;
transition: 1s;
}
.links{
  margin-top: 30px;
}
.home{
  margin-left: 250px;
  margin-top: 150px;
display: flex;
justify-content: space-between;
}
.text p{
  color: orange;
}
.text h1{
  color: white;
  font-size: 50px;
}
.text span{
  color:orange;
}
.text h2{
  color: white;
  font-size: 40px;
}
.text button{
background-color: orange;
color: black;
font-size: 20px;
padding: 10px;
border: 2px solid white;
border-radius: 10px;
}
.text button:hover{
background-color: rgb(82,56,8);
color: white;
transition: 1s;
}
.image{
width: 500px;
height: 500px;
border: 2px solid orange;
border-radius: 50%;
overflow: hidden;
margin-right: 150px;
margin-top: 80px;
}
.image img{
  width: 500px;
  height: 500px;
}
.about{
    display: flex;
    margin-bottom: 120px;
}

.about-image{
    width: 40%;
    margin-left: 100px;
}

.about-image img{
    width: 400px;
    height: 500px;
}

.about-text{
    width: 55%;
}

.about-text h1{
    font-size: 60px;
    color: white;
}

.about-text p{
    color: white;
    font-size: 25px;
    line-height: 35px;
    font-family: system-ui,-apple-system,"Segoe UI";
}

.about-text p span{
    color: orange;
    font-size: 40px;
}
.about-image img:hover{
    transform: scale(1.2);
    transition: 1s;

    border: 2px solid orange;
border-radius: 50%;
overflow: hidden;
}
.about-text button{
    background: none;
    border: 2px solid orange;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    font-size: 30px;
    color: white;
}

.about-text button:hover{
    background-color: orange;
    transition: 1s;
    border-radius: 8px;
    color: #0f2027;
}

.contact{
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.h-contact{
    color: white;
    margin-left: 20px;
}

.contact1{
    background-color: #283438f7;
    margin-right: 30px;
    margin-bottom: 20px;
    width: 48%;
    padding-left: 10px;
}
.contact2{
    background-color: #283438f7;
    width: 48%;
    margin-bottom: 20px;
    padding-left: 10px;
}

.contact3{
    background-color: #283438f7;
    margin-right: 30px;
    width: 48%;
    padding-left: 10px;
}

.contact4{
    background-color: #283438f7;
    width: 48%;
    padding-left: 10px;
}

.contact a{
    color: blue;
    font-size: 20px;
}
